@import './variables/mixins';

*{
    font-family: 'Rubik';
}

.logo{ 
    border-radius: 16px;
    background-color: rgb(53,69,94);
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    img {
        width: 80%;
    }
}


.App {
    background-color: rgb(11, 19, 30);
    height: 100vh;
    padding: 20px 20px 20px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}


.divider{
    width: 1px;
    height: 90%;
    background-color: rgba(221, 224, 228, .3);
    border-radius: 50%;
    &:last-child {
        display: none;
    }
    &-horizont {
        height: 1px;
        width: 95%;
        background-color: rgba(221, 224, 228, .1);
        &:last-child {
            display: none;
        }
    }
    &-city {
        height: 2px;
        width: 100%;
        background-color: rgba(221, 224, 228, .1);
    }
}



@import "./blocks/nav.scss";
@import "./blocks/content";
@import "./blocks/total";
@import "./blocks/weakForecast";
@import "./blocks/todayForecast";
@import "./blocks/airCondition";
@import "./blocks/city";
@import "./blocks/cityForecast";
@import "./blocks/map";
@import "./blocks/settings";
@import "./blocks/spinner";
@import "./blocks/charts";
@import "./blocks/media";